<!-- 
h1 {
color: rgb(86, 86, 250);
font-style: oblique;
font-variant: inherit;
text-decoration: dotted;
background-color: rgb(45, 59, 59);
}

-->

section.buttons {
background-color: rgb(255, 1, 1);

}

header > nav {
display: flex;
background-color: aqua;

}


header > nav > button {


}

header > nav > a {


}

button.navlink {
color: rgb(216, 13, 13);
background-color: black;
padding: 8px;
border: none;
border-radius: 16%;
font-size: 16px;
font-family: sans-serif;

}

button:hover {
background-color: rgb(88, 88, 235);

}

button:active {
background-color: blue;

}