nav{background-color: blueviolet;}

.buttonLinks{color: blue;}

section.buttons {
background-color: rgb(243, 6, 6);

}

body{background-image: url(../html1.png) ;
background-repeat: no-repeat;
background-position: 50% 50%;
background-size: 45%;
background-position-x: 50%;
background-position-y: -14%;
}

